body {
  background: #ffffff; }
  body .nav-contents {
    border-style: solid;
    list-style: none;
    border-top-color: #a60b55;
    border-right-color: #76cd9c;
    border-left-color: #e8ae1a; }
  body .post-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  body .post-wrapper .post-container {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px; }
    body .post-wrapper .post-container .post-img img {
      max-width: 100%;
      max-height: auto; }
